doctype html
html
  head
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title #{community}
    link(href="css/style.css", rel="stylesheet", type="text/css")
    link(href="//fonts.googleapis.com/css?family=Lato:300,400,700,900,700italic|Open+Sans:700italic,400,600,300,700,800", rel="stylesheet", type="text/css")
  body
    <!-- Navigation -->
    <nav class="navbar navbar-fixed-top" role="navigation">
      <img src="/img/Slacker_logo.png">
    </nav>

    <!-- Full Width Image Header -->
      <header class="header-image">
          <div class="headline">
              <div class="container">
                  <h2>Almost there! Choose the typeform you'de like to use from the list below.</h2>
                  <form action="/submit">
                    <label for="formId">Please select the form you want to use to get invites from</label>
                    <select id="formId" name="formId">
                      each form in forms
                        <option value="#{form.id}">#{form.title}</option>
                    </select>
                    <input type="submit">This one</input>
                  </form>
                  <div class="powered-by">Powered by <strong>Typeform</strong></div>
                  <div class="arrow" >
                    <img src="/img/arrow2.png">
                  </div>
              </div>
          </div>
      </header>
