doctype html
html
  head
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title #{community}
    link(href="css/style.css", rel="stylesheet", type="text/css")
    link(href="//fonts.googleapis.com/css?family=Lato:300,400,700,900,700italic|Open+Sans:700italic,400,600,300,700,800", rel="stylesheet", type="text/css")
    <title>Slacker</title>
    
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link href="css/one-page-wonder.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  body
    <!-- Navigation -->
    <nav class="navbar navbar-fixed-top" role="navigation">
      <img src="/img/Slacker_logo.png">
    </nav>

    <!-- Full Width Image Header -->
      <header class="header-image">
          <div class="headline">
              <div class="container">
                  <h1>Almost there!</h1>
                  <h3>Choose the typeform you'd like to use from the list below.</h3>
                  <form action="/submit">
                    <select id="formId" name="formId" class="form-control">
                      each form in forms
                        <option value="#{form.id}">#{form.title}</option>
                    </select>
                    <button type="submit" class="home-intro__button">This one</button>
                  </form>
                  <div class="powered-by">Powered by <strong>Typeform</strong></div>
                  <div class="arrow" >
                    <img src="/img/arrow2.png">
                  </div>
              </div>
          </div>
      </header>

      <!-- Page Content -->
      <div class="container">
        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Slacker 2017</p>
                </div>
            </div>
        </footer>

      </div>
      <!-- /.container -->

      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

      <!-- Latest compiled and minified JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
